@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Arial, ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Georgia", serif;

  --color-brand-bg: #fdfaf7;
  --color-brand-accent: #e8e1da;
  --color-brand-text: #4a4a4a;
  --color-brand-muted: #8c8c8c;
  --color-brand-blue: #e3f2fd;
}

@layer base {
  body {
    @apply font-sans antialiased bg-brand-bg text-brand-text selection:bg-brand-blue;
  }
}
